.gdbinit
debug/output.txt
debug/trace.txt

/*MODEL*/
game.o
sprite.o
arena.o
menu.o

/*VIEW*/
game_view.o
sprite_view.o
arena_view.o
menu_view.o

/*CONTROLLER*/
proj.o
utils.o
timer.o
KBC.o
keyboard.o
mouse.o
graphics.o


proj